/* Mobile.css*/


html {
  max-width: 440px;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  max-width: 420px;
  min-width: 200px;
}

.header__container {
  position: relative; 
}

.header__menu {
  display: none; /* скрываем десктоп меню */
  }

.burger {
  display: flex; /* включаем бургер */
  }

.mobile_menu.open {
    display: flex; /* показать меню */
  }


/* Анимация бургера */
.burger.active div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  }

.burger.active div:nth-child(2) {
  opacity: 0;
  }

.burger.active div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  }

.logo_left {
  display: none;
  }

.logo_right {
  width: 119px;
  height: 87px;
  background-image: url(logos/Logo_Right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  left: 0;
  position: absolute;
}

.header__title ,
.header__subtitle {
  display: none;
}


.header {
  height: 130px;
  position: relative;
}

.mobile_menu {
  z-index: 9999;
  position: absolute;
  margin-right: -5px;

}



.slider_1,
.slider_2,
.slider_3
 {
  border: 2px solid var(--Dark-Red);
  position: relative;
  min-height: 200px;
  overflow: hidden;
  margin-bottom: 40px;
  max-width: 420px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
}

.slider.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.slider-wrapper {
  position: relative;
}


.rectangle {
  height: 134px;
  background: var(--Dark-Red);
  position: absolute;
  bottom: 0;               
  left: 0;
  right: 0;
  z-index: 1;
}

/* SLIDER 1 */

.robot_head{
  max-width: 201px;
  height: 201px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2; 
  filter: drop-shadow(30px 4px 5px  rgba(0, 0, 0, 0.25));
  } 

.main_text_slider_1 {
  position: absolute;
  color: var(--White);
  text-align: right;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  z-index: 3;
  right: 16px;
  top: 90px;
}

.text_power_white_slider_1 {
  width: 137px;
  height: 40px;
  transform: scaleY(-1);
  color: rgba(255, 255, 255, 0.60);
  text-align: right;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  left: 83px;
  top: 43%;
  margin-right: -4px;
}

.text_power_red_slider_1 {
  width: 137px;
  height: 40px;
  position: absolute;
  transform: scaleY(-1);
  color: var(--Bright-Red);
  text-align: right;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  right: 45%;
  top: 50%;
  z-index: 3;
}

.text_it_slider_1 {
  color: rgba(255, 255, 255, 0.60); 
}

.text_solutions_slider_1 {
  color: var(--Bright-Red);
  position: absolute;
  z-index: 3;
  text-align: right;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  transform: scaleY(-1);
  right: 15px;
  top: 63%;  
}

/* SLIDER 2 */

.futurism {
  max-width: 204px;
  height: auto;
  aspect-ratio: 1/1;
  right: 0%;
  top: 66px;
  position: absolute;
  z-index: 0;
}

.rectangle_slider_2 {
  height: 134px;
  background: var(--Dark-Red);
  position: absolute;
  bottom: 0;               
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(90deg, var(--Dark-Red) 55.77%, rgba(39, 7, 8, 0.00) 79.33%);
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);

}

.slider_2_text_white {
  color: var(--White);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  left: 28px;
  top: 82px;

}

.slider_2_text_rotation {
  color: var(--Bright-Red);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  text-transform: uppercase;
  transform: rotate(-179.639deg);
  z-index: 2;
  position: absolute;
  left: 26px;
  top: 130px;
}

.sub_color_text {
  color: rgba(255, 255, 255, 0.60);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}





/* SLIDER 3 */

.IA_image {
  width: 235px;
  height: auto;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2; 
  filter: drop-shadow(30px 4px 5px  rgba(0, 0, 0, 0.25));
  left: -5px;
  bottom: 0;

}

.slider_3_text_white {
  color: var(--White);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 46px;
  top: 103px;
}

.slider_3_text_weak_white {
  color: rgba(255, 255, 255, 0.60);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 29px;
  top: 122px;
}

.slider_3_text_bright_red {
  color: var(--Bright-Red);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 17px;
  top: 141px;
}

/* WHO_WE_ARE */

.who_we_are_section {
  min-height: 414px;
  background: var(--White);
  box-shadow: 0 0 10px 0 var(--Black);
  margin-bottom: 28px;
}

.who_content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.sub_who_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.who_we_are {
  color: var(--Dark_Blu);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  top: -10px;
}

.who_we_are::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;   
  width: 152px;         
  height: 2px;           
  background: var(--Dark_Blu);
}

.centre_25-12_text {
  color: var(--Black);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  top: -30px;
  position: relative;
 

}

.centre_25-12_text::before {
  content: " ";
  position: absolute;
  left: -10px;
  background: var(--Dark_Blu);
  width: 5px;
  height: 5px;
  top: 14px;
  
}


.sub_title_centre {
  color: var(--Dark-Red);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; 
  text-transform: uppercase;
}

.logo_no_numbers {
  display: none;
  width: 154px;
  height: 75px;
  background-image: url(logos/Logo_Right_NO_Numbers_red.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 33px;
  margin-left: 15px;

}

.our_mission_text {
  color: var(--Black);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: start;
  left: 13px;
  position:relative;
  top: -14px;
}

.our_mission_text::before {
  content: " ";
  position: absolute;
  background: var(--Dark_Blu);
  width: 5px;
  height: 5px;
  top: 4px;
  left: -10px;
  

}

.partnerships_block {
  align-self: stretch;
  color: var(--Black);
  text-align: right;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  left: 15px;
  position: relative;
  top: -40px;
}

.partnerships, .ten_plus, .trusted {
  position: relative;
  text-align: start;
}

.partnerships::before,
.ten_plus::before,
.trusted::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 6px solid var(--Dark-Red);
  top: 4px;
  left: -12px;
}



