/********************************** SLIDER 1 **************************/
.slider_1 {
  border: 2px solid var(--Dark-Red);
  position: relative;
  min-height: 471px;
  overflow: hidden;
  margin-bottom: 52px;
}

.rectangle {
  height: 405px;
  background: var(--Dark-Red);
  position: absolute;
  bottom: 0;               
  left: 0;
  right: 0;
  height: 405px;
  z-index: 1;
}

.robot_head {
  width: 470px;
  height: 470px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2; 
  filter: drop-shadow(70px 4px 5px  rgba(0, 0, 0, 0.25));
  }

.main_text_slider_1 {
  position: absolute;
  color: var(--White);
  text-align: right;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  z-index: 3;
  right: 5%;
  top: 30%;
}

.text_power_white_slider_1 {
  width: 137px;
  height: 40px;
  transform: scaleY(-1);
  color: rgba(255, 255, 255, 0.60);
  text-align: right;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 48%;
  top: 40%;
  margin-right: -4px;
}

.text_power_red_slider_1 {
  width: 137px;
  height: 40px;
  position: absolute;
  transform: scaleY(-1);
  color: var(--Bright-Red);
  text-align: right;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  right: 46%;
  top: 48%;
  z-index: 3;
}

.text_it_slider_1 {
  /*
  color: rgba(255, 255, 255, 0.60); 
  position: absolute;
  z-index: 3;
  width: 211px;
  height: 49px;
  text-align: right;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  transform: scaleY(-1);
  right: 24%;
  top: 49%; */
  color: rgba(255, 255, 255, 0.60); 
}

.text_solutions_slider_1 {
  /*width: 211px;
  height: 49px;*/
  color: var(--Bright-Red);
  position: absolute;
  z-index: 3;
  text-align: right;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  transform: scaleY(-1);
  right: 5%;
  top: 49%;  
}

