body {
  max-width: 865px;
  margin: 0 auto;
  box-sizing: border-box;
}


/* HEADER */

.header__container{
  display: flex;
  justify-content: space-between;
 }

.logo_left {
  width: 148px;
  height: 108px;
  background-image: url(logos/Logo_Left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.header__title {
  font-family: Helvetica;
  font-size: 43px;
  color: var(--Dark-Red);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 30px;
}

.tight {
  letter-spacing: -3px;
}

.header__subtitle {
  font-family: Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  color: var(--Dark-Red);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 4px;
}

.header__menu {
  margin-top: 90px;
}

.ul-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.ul-menu li a {
  text-decoration: none;
  color: var(--Black);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.ul-menu li a:hover {
  color: var(--Dark-Red)
}

.ul-menu li a:active {
  color: var(--Dark-Red);
  text-shadow: 0 0 4px rgba(181, 36, 35, 0.50);
}


/* SLIDERS */

.slider_1,
.slider_2,
.slider_3
 {
  border: 2px solid var(--Dark-Red);
  position: relative;
  min-height: 390px;
  overflow: hidden;
  margin-bottom: 52px;
  max-width: 865px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  }

.slider.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.slider-wrapper {
  position: relative;
}


.rectangle {
  height: 324px;
  background: var(--Dark-Red);
  position: absolute;
  bottom: 0;               
  left: 0;
  right: 0;
  z-index: 1;
}

/* SLIDER 1 */

.robot_head{
  max-width: 390px;
  height: 390px;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2; 
  filter: drop-shadow(70px 4px 5px  rgba(0, 0, 0, 0.25));
  } 

.main_text_slider_1 {
  position: absolute;
  color: var(--White);
  text-align: right;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; 
  text-transform: uppercase;
  z-index: 3;
  right: 5%;
  top: 40%;
}

.text_power_white_slider_1 {
  width: 137px;
  height: 40px;
  transform: scaleY(-1);
  color: rgba(255, 255, 255, 0.60);
  text-align: right;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  left: 37%;
  top: 48%;
  margin-right: -4px;
}

.text_power_red_slider_1 {
  width: 137px;
  height: 40px;
  position: absolute;
  transform: scaleY(-1);
  color: var(--Bright-Red);
  text-align: right;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  right: 45%;
  top: 55%;
  z-index: 3;
}

.text_it_slider_1 {
  color: rgba(255, 255, 255, 0.60); 
}

.text_solutions_slider_1 {
  color: var(--Bright-Red);
  position: absolute;
  z-index: 3;
  text-align: right;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  transform: scaleY(-1);
  right: 5%;
  top: 54%;  
}

/* SLIDER 2 */

.futurism {
  max-width: 390px;
  height: auto;
  aspect-ratio: 1/1;
  right: 0%;
  top: 66px;
  position: absolute;
  z-index: 0;
}

.rectangle_slider_2 {
  height: 324px;
  background: var(--Dark-Red);
  position: absolute;
  bottom: 0;               
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(90deg, var(--Dark-Red) 55.77%, rgba(39, 7, 8, 0.00) 79.33%);
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);

}

.slider_2_text_white {
  color: var(--White);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  left: 55px;
  top: 120px;

}

.slider_2_text_rotation {
  color: var(--Bright-Red);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  text-transform: uppercase;
  transform: rotate(-179.639deg);
  z-index: 2;
  position: absolute;
  left: 54px;
  top: 210px;
}

.sub_color_text {
  color: rgba(255, 255, 255, 0.60);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}





/* SLIDER 3 */

.IA_image {
  width: 437px;
  height: auto;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 2; 
  filter: drop-shadow(70px 4px 5px  rgba(0, 0, 0, 0.25));
  left: 0px;
  bottom: 0;

}

.slider_3_text_white {
  color: var(--White);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 104px;
  top: 150px;
}

.slider_3_text_weak_white {
  color: rgba(255, 255, 255, 0.60);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 63px;
  top: 190px;
}

.slider_3_text_bright_red {
  color: var(--Bright-Red);
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  right: 22px;
  top: 230px;
}


/* WHO_WE_ARE */

.who_we_are_section {
  min-height: 590px;
  background: var(--White);
  box-shadow: 0 0 10px 0 var(--Black);
  margin-bottom: 28px;
}

.who_content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.sub_who_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.who_we_are {
  color: var(--Dark_Blu);
  font-family: Helvetica;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  position: relative;
  padding-top: 22px;
  margin-left: 13px;
}

.who_we_are::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;   
  width: 438px;         
  height: 2px;           
  background: var(--Dark_Blu);
}

.centre_25-12_text {
  color: var(--Black);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  margin-left: 13px;
  margin-top: 30px;
 

}

.centre_25-12_text::before {
  content: " ";
  position: absolute;
  left: 4;
  background: var(--Dark_Blu);
  width: 12px;
  height: 12px;
  top: 835px;
  
}


.sub_title_centre {
  color: var(--Dark-Red);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; 
  text-transform: uppercase;
}

.logo_no_numbers {
  width: 154px;
  height: 75px;
  background-image: url(logos/Logo_Right_NO_Numbers_red.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 15px;

}

.our_mission_text {
  color: var(--Black);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 13px;
  position:relative;
  margin-top: 30px;
}

.our_mission_text::before {
  content: " ";
  position: absolute;
  background: var(--Dark_Blu);
  width: 12px;
  height: 12px;
  margin-top: 10px;
  margin-right: 10px;
  right: 450px;
  

}

.partnerships_block {
  align-self: stretch;
  color: var(--Black);
  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 13px;
}

.partnerships, .ten_plus, .trusted {
  position: relative;
}

.partnerships::before,
.ten_plus::before,
.trusted::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 14px solid var(--Dark-Red);
  right: 10;
  top: 0;
  left: -30px;
}


/* WHAT WE DO */

.what_we_do {
  color: var(--Dark_Blu);
  font-family: Helvetica;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 28px;
  text-align: right;
  margin-top: 54px;
  margin-bottom: 20px;


}

.what_we_do::before {
  content: " ";
  position: absolute;
  bottom: -5px;   
  width: 438px;         
  height: 2px;           
  background: var(--Dark_Blu);
  right: 0;
 
}

/* Digital products & custom IT solutions for your business */
.digital-products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.digital_products {
  min-height: 743px;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; /* или flex-shrink: 0; */
  width: fit-content;
  border: 1px solid var(--Dark_Blu);
  box-shadow: 0 0 6px 0 var(--Dark_Blu);
  padding: 10px; 
 
}

.digital_products_title {
  color: var(--Dark-Red);
  font-family: Helvetica;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 85px;
}

.title_product {
  color: var(--Dark_Blu);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.product_details {
  color: var(--Black);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.program_languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;
  margin-bottom: 18px;
}

.circle_border {
  width: 120px;
  height: 120px;
  border: 2px solid var(--Dark-Red);
  border-radius: 50%;
  display: flex;
  justify-content: center; /* горизонтально */
  align-items: center; 

}

.language_title {
  color: var(--Dark_Blu);
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* basic_approaches_section */

.basic_approaches_section {
  max-width: 860px;
  min-height: 767px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
}

.basic_approaches_title {
  color: var(--Dark-Red);
  font-family: Helvetica;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
  white-space: nowrap;
}

.basic_approaches_items {
  width: 485px;
  height: 29px;
  color: var(--White);
  text-align: right;
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--Dark_Blu);
  padding: 5px 15px;
}
.item_analysis {
  width: 386px;
}

.item_dev {
 width: 189px;
}

.item_management {
  width: 375px;
}

.item_assurance {
 width: 275px;
}

.item_support {
 width: 278px;
}

.basic_approaches_list {
  position: absolute;
  right: 0;          /* прижимаем к правому краю */
  top: 100px;        /* регулируешь вертикаль */
  z-index: 2;        /* поверх картинки */
  right: 0px;
  top: 120px;
  align-items: end;


}

.robot {
  width: 497px;
  height: 751px;
  position: relative;
  z-index: 1;
}


